<div class="jumbotron">
  <h1 class="display-4">Welcome to your dashboard!</h1>
  <p class="lead">From here you can access all the features of HaxoMail</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/mail" role="button">Mail</a>
  <a class="btn btn-primary btn-lg" href="/chatroom" role="button">Chat Room</a>
</div>