<div class="jumbotron">
  <h1 class="display-4">HaxoMail</h1>
  <p class="lead">We provide all the basic emailing services you need.</p>
  <hr class="my-4">
  <p>You can compose and send messages, read messages and delete messages from other users on this site.</p>
  <a class="btn btn-primary " href="/user/login" role="button">Login</a>
  <a class="btn btn-danger " href="/user/register" role="button">Create Account</a>
</div>
