{{>sidenav}}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to your Mail</h1>
    <p class="lead">Use the sidebar to get started on your work.</p>
  </div>
</div>



